* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.welcome {
  width: 100%;
  min-height: 616px;
  background-image: url(https://raw.githubusercontent.com/FacundoEG/desafio-dwf-m4/main/images/welcome-background2.png);
  background-position: center;
  background-size: cover;
}

.welcome-container {
  margin-top: 100px;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  flex-direction: column;
  font-weight: bold;
  color: white;
  gap: 11px;
}

.welcome-container > h1 {
  font-size: 48px;
  margin: -10px;
  letter-spacing: 1px;
}
.welcome-container > h2 {
  font-size: 32px;
  margin: 0;
}

.about-me {
  width: 100%;
  background-color: #141414;
}

@media (min-width: 900px) {
  .about-me {
    max-height: 538px;
    background-color: rgb(205, 214, 221);
  }
}

.about-me-container {
  height: 100%;
}

@media (min-width: 900px) {
  .about-me-container {
    display: flex;
    justify-content: center;
  }
}

.about-me-container__hero-img {
  display: none;
  height: 480px;
  object-fit: contain;
}

@media (min-width: 900px) {
  .about-me-container__hero-img {
    display: initial;
    align-self: flex-end;
  }
}

.about-me-container__text-cont {
  padding: 60px 32px;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 46px;
}

.about-me-container__text-cont > h2 {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  align-self: center;
}

.about-me-container__text-cont > p {
  font-family: "Poppins", sans-serif;
  max-width: 311px;
  align-self: center;
}

@media (min-width: 900px) {
  .about-me-container__text-cont > h2 {
    align-self: flex-start;
    text-align: start;
    color: #2c2c2c;
  }
}

@media (min-width: 900px) {
  .about-me-container__text-cont > p {
    align-self: flex-start;
    text-align: start;
    max-width: 500px;
    color: #2c2c2c;
  }
}

.services {
  width: 100%;
  background-color: rgb(222, 228, 233);
}

.services-container {
  padding: 40px;
}

.services-container > h2 {
  color: #2c2c2c;
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: bold;
  padding: 20px 0px 50px 0px;
  margin: 0;
  text-align: center;
}

@media (min-width: 900px) {
  .services-container__template-box {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
  }
}

@media (min-width: 900px) {
  .services-container > h2 {
    font-size: 48px;
  }
}

.services-template-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 350px;
  padding: 35px 5px;
}

.services-template-card__textbox {
  font-family: "Poppins";
  text-align: center;
  color: #2c2c2c;
}

.services-template-card__title {
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0px 7px 0px;
}

.services-template-card__p {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}

.contact {
  width: 100%;
  background-color: black;
}

.footer {
  width: 100%;
}
