.header-comp {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: none;
  transition: all 500ms ease-in;
  position: fixed;
}

.scrolled {
  background-color: #141414;
  box-shadow: 0 3px 20px rgb(0, 0, 0);
}

@media (min-width: 900px) {
  .header-comp {
    padding: 0px 2.3%;
  }
}

.header-comp__logo {
  height: 110px;
  width: 110px;
}

.header-comp__window-menu {
  background-color: #161616;
  width: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  transition: right 1s ease-in-out;
  right: -100%;
  border: 1px solid #2c2c2c;
}

.active {
  right: 0;
}

.header-comp__window-closebutton {
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin: 25px 17px 10px;
}

.header-comp__window-closebutton:active {
  cursor: pointer;
  filter: invert(62%) sepia(55%) saturate(13) hue-rotate(194deg) brightness(95%)
    contrast(80%);
}

.header-comp__window-closebutton > img {
  height: 42px;
  width: 42px;
}

.header-comp__window-menu-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 30px;
  width: 100%;
}

.header-comp__window-menu-link > a {
  color: white;
  text-decoration: none;
  font-size: 23px;
  font-family: "Montserrat";
  padding: 15px 15px;
  display: flex;
  height: 71px;
  width: 100%;
  text-align: center;
  transition: all 500ms ease-in;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.header-comp__window-menu-link > a:hover {
  color: cornflowerblue;
  background-color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 900px) {
  .header-comp__window-menu {
    display: none;
  }
}

.header-comp__hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
}

.header-comp__hamburger-menu:active {
  filter: invert(62%) sepia(55%) saturate(13) hue-rotate(194deg) brightness(95%)
    contrast(80%);
}

@media (min-width: 900px) {
  .header-comp__hamburger-menu {
    display: none;
  }
}

.header-comp__hamburger-menu > img {
  width: 40px;
}

.header-comp__links-container {
  display: none;
}

@media (min-width: 900px) {
  .header-comp__links-container {
    display: initial;
    display: flex;
    gap: 25px;
  }
}

@media (min-width: 900px) {
  .header-comp__links-container > a {
    color: white;
    font-family: "Poppins";
    font-size: 21px;
    text-decoration: none;
    letter-spacing: 1px;
    border: 2px transparent solid;
    transition: all 500ms ease-in;
    padding: 5px 12px;
    border-radius: 20px;
  }
}

@media (min-width: 900px) {
  .header-comp__links-container > a:hover {
    color: cornflowerblue;
    border: 2px solid cornflowerblue;
  }
}
