.footer {
  width: 100%;
}

.footer-comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #040508;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.footer-comp__logo {
  height: 140px;
}

.footer-text {
  font-size: 18px;
  font-family: "Poppins";
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 auto;
  color: white;
}
