* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.welcome {
  width: 100%;
  min-height: 902px;
  background: black;
}

@media (min-width: 900px) {
  .welcome {
    background: linear-gradient(107.17deg, #000000 29.35%, #242552e5 78.73%);
    min-height: 600px;
  }
}

.contact-comp {
  color: white;
  padding: 40px 33px 0px;
}

@media (min-width: 900px) {
  .contact-comp {
    display: flex;
    flex-direction: row;
    padding: 100px 130px;
    justify-content: space-between;
    gap: 50px;
  }
}

.contact-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 376px;
  flex-grow: 1;
}

@media (min-width: 900px) {
  .contact-form {
    margin: 0 auto 0 0;
  }
}

.contact-form__title {
  margin: 20px 0 100px;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

@media (min-width: 900px) {
  .contact-form__title {
    margin: 0 0 0 auto;
    font-size: 48px;
  }
}

.contact-form__label {
  font-size: 13px;
  text-align: start;
  font-family: "Poppins";
  font-weight: normal;
}

.contact-form__input {
  border: 3px solid #2c2c2c;
  border-radius: 4px;
  height: 45px;
  margin-bottom: 30px;
  font-size: 13px;
  font-family: "Poppins";
  font-weight: normal;
}

.contact-form__textarea {
  border: 3px solid #2c2c2c;
  border-radius: 4px;
  height: 113px;
  margin-bottom: 60px;
  font-size: 13px;
  font-family: "Poppins";
  font-weight: normal;
}

.contact-form__button {
  height: 45px;
  border-radius: 4px;
  border: none;
  background: #2c2c2c;
  color: white;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: bold;
}

.footer {
  width: 100%;
}
