* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.welcome {
  width: 100%;
  background: black;
}

@media (min-width: 900px) {
  .welcome {
    background: linear-gradient(107.17deg, #000000 29.35%, #212f4d 78.73%);
    min-height: 600px;
  }
}

.welcome-container {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  flex-direction: column;
  font-weight: bold;
  color: white;
  gap: 20px;
  padding: 60px;
}

@media (min-width: 900px) {
  .welcome-container {
    align-items: flex-start;
    padding: 160px 110px;
  }
}

.welcome-container > h1 {
  font-size: 48px;
  margin: -10px;
  letter-spacing: 1px;
}
.welcome-container > h2 {
  font-size: 32px;
  margin: 0;
}

.portfolio {
  width: 100%;
  background-color: black;
  padding: 40px 0px;
}

.portfolio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

@media (min-width: 900px) {
  .portfolio-container {
    padding-top: 80px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    padding-bottom: 0px;
  }
}

.portfolio-contenedores {
  text-decoration: none;
  color: white;
  border: 2px solid #2c2c2c;
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.contenedor-imagen {
  height: 200px;
  border-radius: 4px 4px 0px 0px;
}

.contenedor-titulo {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  padding: 10px 25px 0px 20px;
  font-weight: bold;
  margin: 0;
}

.contenedor-descripcion {
  font-size: 15px;
  padding: 10px 20px 0px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  color: #dbdbdb;
}

.contenedor-ver-button {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  text-decoration-line: underline;
  color: #51aff3;
  font-weight: bold;
  padding: 5px 25px 15px;
}

.footer {
  width: 100%;
}
